@font-face {
  font-family: "Al-Jazeera-Arabic-Regular";
  src: url("../fonts/Al-Jazeera-Arabic-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Al-Jazeera-Arabic-Regular";
}
