body {
  margin: 0;
  padding: 0;
  font-family: "Al-Jazeera-Arabic-Regular";
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: "Al-Jazeera-Arabic-Regular";
}
